# ignore virtual envs
.venv

build/
a.out
weights/

# ignore all .bin and .out files
*.bin
*.out

# ignore ipynb_checkpoints
.ipynb_checkpoints

__pycache__/
notebooks/logs

# ignore logs folder
logs/
best_policy.pt